<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link href="//gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <!-- CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{asset "css/poole.css"}}">
    <link rel="stylesheet" href="{{asset "css/syntax.css"}}">
    <link rel="stylesheet" href="{{asset "css/lanyon.css"}}">
    <link rel="stylesheet" href="{{asset "css/dluxemburg.css"}}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Merriweather+Sans:700,300italic,700italic,300'>

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset "apple-touch-icon-precomposed.png"}}">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>

  <body class="{{body_class}}">

    <!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
    {{#if @blog.navigation}}
      <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
    {{/if}}

    <!-- Toggleable sidebar -->
    <div class="sidebar" id="sidebar">
      <div class="sidebar-item">

        <p>My name is Daniel and I like things that look or feel like networks (cities, brains, the internet, etc). I work as a developer at <a href="http://genius.com/" target="_blank">Genius</a>, make funny little projects, and sometimes talk to people about things.</p>
      </div>

      <nav class="sidebar-nav">

          <a class="sidebar-nav-item sigboar-nav-home" href="{{@blog.url}}"><i class="ion-social-rss"></i> &nbsp;Posts</a>
          <a class="sidebar-nav-item sigboar-nav-twitter" href="https://twitter.com/dluxemburg" target="_blank"><i class="ion-social-twitter"></i> &nbsp;Twitter</a>
          <a class="sidebar-nav-item sigboar-nav-github" href="https://github.com/dluxemburg" target="_blank"><i class="ion-social-github"></i> &nbsp;GitHub</a>

      </nav>

      <div class="sidebar-item">

      </div>
    </div>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{@blog.url}}" title="Home">{{@blog.title}}</a>
            <br/>
            <small>{{@blog.description}}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{{body}}}
      </div>
    </div>

    {{#if @blog.navigation}}
      <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    {{/if}}

    {{#if @blog.navigation}}
      <script>
        (function(document) {
          var toggle = document.querySelector('.sidebar-toggle');
          var sidebar = document.querySelector('#sidebar');
          var checkbox = document.querySelector('#sidebar-checkbox');

          document.addEventListener('click', function(e) {
            var target = e.target;

            if(!checkbox.checked ||
               sidebar.contains(target) ||
               (target === checkbox || target === toggle)) return;

            checkbox.checked = false;
          }, false);
        })(document);
      </script>
    {{/if}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
    <script>
      $(document).ready(function() {
        $('pre code').each(function(i, block) {
          hljs.highlightBlock(block)
        })
      })
    </script>
  </body>
</html>
